/**
 * @file
 * Customization for Dual
 *
 */

@import "base";

//
//
// Styles for the site
//
//

/**
* Slideshow styles - copied from WWUZen CHSS
*/
.flex-caption {
  background-color:#222222;
  @include opacity(.5);
  color:#ffffff;
  padding:.5em;
}

.soc-news-events, .soc-resources {

  background: #e9e9e9;
  	
  h2 {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    border-bottom: 5px solid $wwuLtblue;
    font-weight: normal;
    text-transform: uppercase;
    color: #000;
    font-size: 100%;
  }
  	
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

}

.soc-news-events {

  ul li {
    padding: 1em 0.5em;
    border-bottom: 2px solid #ccc;
  }
  .more-link {
    padding: 1em 0.5em;
  }

}

.soc-resources {
  
  h2 {
  	border-bottom: 5px solid #eb9e39;
  }
  ul li {
    text-align: center;
    padding: 0.5em;
  }

}